<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
	 <%= stylesheet_link_tag "application" %>
	 <%= javascript_include_tag "application" %>
</head>


<body>
	<div id="wrapper">
		<ul id="tagline">
			<h1> Welcome to Friends of Box Hills </h1>
		</ul>	
		
		
    <%= render 'layouts/header'%>
	<%= render 'layouts/menu'%>
	<div id="page">
		<div id="content">
 			<section >

				<%= yield %>	
	        </section>
		</div><%#end of content%>
		
		
	</div> <%#end of page%>

</div> <%# end of wrapper %>			



<%= render 'layouts/footer-content'%>
<%= render 'layouts/footer'%>
<!-- end #footer -->
</body>
</html>
